<div class="div1">
  <div class="servicios-container">
    <h2>¡Bienvenido, [Nombre]!</h2>
    <p>
      Accede a todos los recursos técnicos de ARAG y gestiona tus consultas fácilmente.
    </p>
    <div class="buttons">
      <button class="btn1" (click)="navigateTo('computadoras')">
        <div class="btn-icon">
          <img src="assets/arag1.png" alt="ARAG" />
        </div>
        <span>Modelos de Computadoras ARAG</span>
      </button>
      <button class="btn1" (click)="navigateTo('consulta-tecnico')">
        <div class="btn-icon">
          <img src="assets/arag1.png" alt="ARAG" />
        </div>
        <span>Sección de Consultas Técnicas</span>
      </button>
    </div>
  </div>
</div>
