.div1 {
  background: linear-gradient(to bottom, #101010, #061a38);
  padding: 20px;
  min-height: 100vh;
}

.servicios-container {
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(to right, #eddc87, #ac722d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 30px;
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.btn1 {
  background: linear-gradient(90deg, #2466ea, #3a8efc);
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}

.btn1:hover {
  background: linear-gradient(90deg, #1c4eb1, #306ee6);
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}


.btn-icon {
  min-width: 80px; /* Define un ancho mínimo para la imagen */
  display: flex;
  justify-content: center;
}

img {
  width: 130px;
  height: auto;
}

span {
  flex-grow: 1; /* Ocupa el espacio restante */
  text-align: left;
}
