<div class="div1">
  <div class="servicios-container">
    <h2>¡Bienvenido, {{ userName }}!</h2>
    <p>
      Accede a todos los recursos técnicos de ARAG y gestiona tus consultas fácilmente.
    </p>
    <div class="buttons">
      <button class="btn1" (click)="navigateTo('computadoras')">
        <span>Modelos de Computadoras</span>
      </button>
      <button class="btn1" (click)="navigateTo('consulta-tecnico')">
        <span>Sección de Consultas Técnicas</span>
      </button>
    </div>
  </div>
</div>
