.fono1 {
  background: black;
  padding: 20px;

  .contenedor {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    margin-top: 1px;

    h2,
    h3 {
      font-weight: bold;
      background: linear-gradient(to right, #EDDC87, #AC722D);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .resaltado {
      font-weight: bold;
      background: linear-gradient(to right, #EDDC87, #AC722D);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
