<footer class="footer">
  <div class="container">
    <!-- Logo -->
    <img src="../../../assets/f0b30aad-6efd-4bbc-9910-595716cb1ef1-removebg-preview.png"
         alt="Agrofono"
         class="footer-logo" />

    <!-- Ubicación -->
    <p class="footer-text">Rosario, Santa Fe, Argentina</p>

    <!-- WhatsApp -->
    <p class="footer-text">
      📞 <a href="https://wa.me/3412774887" class="footer-link">+54 9 354 657 0859</a>
    </p>

    <!-- Menú -->
    <div class="menu-container">
      <button (click)="navigateTo('home')">Inicio</button>
      <button (click)="navigateTo('asesoria')">Asesoría al cliente</button>
      <button (click)="navigateTo('suscripcionesTecnicas')">Suscripción técnica</button>
      <button (click)="navigateTo('login')">Login técnico</button>
      <button (click)="navigateTo('nosotros')">Sobre nosotros</button>
    </div>

    <!-- Email -->
    <p class="footer-text">
      ✉️ <a href="mailto:info&#64;agrofono.com" class="footer-link">agrofonoempresa&#64;gmail.com</a>
    </p>
  </div>
</footer>
