<footer class="bg-black text-white py-6 text-center">
  <div class="container mx-auto px-4">
    <!-- Logo -->
    <img src="../../../assets/f0b30aad-6efd-4bbc-9910-595716cb1ef1-removebg-preview.png" alt="Agrofono" class="mx-auto mb-2 w-24" />

    <!-- Ubicación -->
    <p class="text-sm">Rosario, Santa Fe, Argentina</p>

    <!-- WhatsApp -->
    <p class="text-sm">
      📞 <a href="https://wa.me/3412774887" class="text-green-400">+54 9 354 657 0859</a>
    </p>

<!-- Menú -->
<div class="menu-container">
  <button (click)="navigateTo('home')">Home</button>
  <button (click)="navigateTo('asesoria')">Asesoría al cliente</button>
  <button (click)="navigateTo('suscripcionesTecnicas')">Suscripción técnica</button>
  <button (click)="navigateTo('login')">Login técnico</button>
  <button (click)="navigateTo('nosotros')">Sobre nosotros</button>
</div>


    <!-- Redes Sociales -->
    <!-- <div class="mt-4 flex justify-center gap-4 text-lg">
      <a href="#" class="hover:text-gray-400"><i class="fab fa-facebook"></i></a>
      <a href="#" class="hover:text-gray-400"><i class="fab fa-instagram"></i></a>
      <a href="#" class="hover:text-gray-400"><i class="fab fa-x-twitter"></i></a>
    </div> -->

    <!-- Email -->
    <p class="text-sm mt-2">
  ✉️ <a href="mailto:info&#64;agrofono.com" class="hover:text-yellow-400">agrofonoempresa&#64;gmail.com</a>
    </p>
  </div>
</footer>
