<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <a href="#" class="navbar-logo">
      <img src="../../../assets/f0b30aad-6efd-4bbc-9910-595716cb1ef1-removebg-preview.png" alt="Logo" class="navbar-image">
    </a>

    <!-- Menú para escritorio -->
    <ul class="navbar-menu">
      <li><a href="#" class="navbar-link">Home</a></li>
      <li><a [routerLink]="['/asesoria']" class="navbar-link">Asesoría al Cliente</a></li>
      <li><a [routerLink]="['/suscripcionesTecnicas']" class="navbar-link">Suscripciones Técnicas</a></li>
      <li><a [routerLink]="['/nosotros']" class="navbar-link">Sobre Nosotros</a></li>
      <li><a [routerLink]="['/login']" class="navbar-link">Iniciar Sesión Técnico</a></li>
    </ul>

    <!-- Botón para menú móvil -->
    <button class="navbar-toggle" (click)="toggleMenu()">
      ☰
    </button>
  </div>

  <!-- Menú desplegable en móvil -->
  <div *ngIf="isMenuOpen" class="navbar-mobile">
    <ul class="navbar-mobile-menu">
      <li><a href="#" class="navbar-mobile-link">Home</a></li>
      <li><a [routerLink]="['/asesoria']" class="navbar-mobile-link">Asesoría al Cliente</a></li>
      <li><a [routerLink]="['/suscripcionesTecnicas']" class="navbar-mobile-link">Suscripciones Técnicas</a></li>
      <li><a [routerLink]="['/nosotros']" class="navbar-mobile-link">Sobre Nosotros</a></li>
      <li><a [routerLink]="['/login']" class="navbar-mobile-link">Iniciar Sesión Técnico</a></li>
    </ul>
  </div>
</nav>
