.div1 {
  background: linear-gradient(to bottom, #101010, #061a38);
  padding: 20px;
  min-height: 100vh;
}

.servicios-container {
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 1200px; /* Aumentar ancho máximo */
  margin: auto;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(to right, #eddc87, #ac722d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

.computadoras-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas por defecto */
  gap: 20px; /* Separación entre las tarjetas */
  margin-top: 20px;
}

@media (max-width: 768px) {
  /* Cambiar a 1 columna en dispositivos móviles */
  .computadoras-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 columna */
    gap: 15px; /* Ajustar la separación */
  }
}

.computadora-card {
  background: #2466ea;
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, background 0.3s;

  &:hover {
    transform: translateY(-5px);
    background: #1c4eb1;
  }

  .btn-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    img {
      width: 100px;
      height: auto;
      border-radius: 5px;
    }
  }

  span {
    display: block;
    font-size: 16px;
    font-weight: bold;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .btn1 {
    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 5px;
    background: #2466ea;
    color: white;
    cursor: pointer;

    &.active {
      background: #1c4eb1;
      font-weight: bold;
    }
  }
}


.btn {
  background: #2466ea;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar el contenido horizontalmente */
  gap: 15px;
  margin: 10px auto;
  transition: background 0.3s;
  text-align: center; /* Centrar texto */
}


.btn:hover {
  background: #1c4eb1;
}
