<div class="div1">
  <div class="servicios-container">
    <h2>Sección de Consultas Técnicas</h2>
    <p>
      Antes de pagar, describe tu problema en la mesa de entrada y te diremos si podemos ayudarte.
    </p>
    <div class="buttons">
      <button  (click)="shareFurnitureLink()" class="btn1">
        Mesa de entrada
      </button>
    </div>
    <h3>Consultas de pago</h3>
    <div class="buttons">
      <button (click)="navigateTo('consulta-tec')" class="btn1">
        Comprar consulta para mí
      </button>
      <button (click)="navigateTo('consulta-tec')" class="btn1">
        Comprar consulta para mi cliente
      </button>
    </div>
    <p>
      Luego de realizar el pago recibirás un cupón que debes presentar en la mesa de entrada
      o un técnico se pondrá en contacto contigo.
    </p>
  </div>
</div>
