.xlsx-table-container {
  overflow-x: auto;
  margin: 1rem 0;
}

.xlsx-table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  background-color: white; // Fondo blanco para la tabla

  th,
  td {
    border: 1px solid black; // Bordes negros
    padding: 8px;
    word-wrap: break-word;
    max-width: 200px; // Evita celdas muy largas
    color: black; // Letras negras
    background-color: white; // Fondo blanco de las celdas
  }

  th {
    font-weight: bold;
  }

  tr:nth-child(even),
  tr:nth-child(odd) {
    background-color: white !important; // Forzar fondo blanco en todas las filas
  }

  tr:hover {
    background-color: #e6e6e6; // Un ligero gris para el hover opcional
  }
}
