<div class="login-container">
  <div class="login-card">

    <!-- Logo -->
    <div class="logo-container">
      <img src="../../../assets/f0b30aad-6efd-4bbc-9910-595716cb1ef1-removebg-preview.png" alt="Agrofono Logo">
    </div>

    <!-- Formulario -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

      <!-- DNI -->
      <div class="input-group">
        <label for="dni" class="label">Documento - DNI</label>
        <input id="dni" type="text" formControlName="dni" class="input-field" />
      </div>

      <!-- Mensaje de error -->
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

      <!-- Botón de ingreso -->
      <button type="submit" class="btn-login" [disabled]="loginForm.invalid">Ingresar</button>

      <!-- Crear cuenta -->
      <div class="register-link">
        ¿Aún no tenés cuenta?
        <a [routerLink]="['/suscripcionesTecnicas']">Crea tu cuenta</a>
      </div>
    </form>
  </div>
</div>
