<div class="div1">
  <div class="servicios-container">
    <h2 class="titulo">Nuestra misión</h2>
    <p class="texto">
      En agrofono, entendemos la importancia de una tecnología agrícola confiable para el éxito de su operación.
      Con años de experiencia en el sector, nos dedicamos a ser su socio de confianza en el diagnóstico y solución
      de problemas técnicos en computadoras de pulverización, mapeo y siembra.
    </p>

    <h3 class="subtitulo">Buscamos:</h3>

    <div class="servicio">
      <h4 class="subtitulo2">Brindar diagnósticos precisos y rápidos</h4>
      <p class="texto">
        Utilizando tecnología de punta y el conocimiento de nuestros expertos, identificamos la raíz de cualquier
        problema técnico con eficiencia.
      </p>
    </div>

    <div class="servicio">
      <h4 class="subtitulo2">Minimizar el tiempo de inactividad</h4>
      <p class="texto">
        Sabemos que cada minuto cuenta en el campo, por eso, nos esforzamos por brindar soluciones rápidas que
        reduzcan al mínimo las interrupciones en su trabajo.
      </p>
    </div>

    <div class="servicio">
      <h4 class="subtitulo2">Asegurar la satisfacción del cliente</h4>
      <p class="texto">
        Su tranquilidad es nuestra pioridad, nos comprometemos a ofrecer un servicio personalizado y trasparente,
        construyendo relaciones de confianza a largo plazo.
      </p>
    </div>

    <p class="texto">
      Confíe en <strong class="subtitulo2">Agrofono</strong> para mantener su tecnología agrícola en perfectas condiciónes y
      alcanzar el máximo rendimiento en sus operaciones.
    </p>

    <div class="buttons">
      <button (click)="shareFurnitureLink()" class="btn whatsapp">Solicitar Asistencia Ahora <img src="assets/wsp.png" alt="WhatsApp"></button>
      <button class="btn1 mercado-pago" (click)="navigateTo('suscripcionesTecnicas')">Unirme a la comunidad Tecnica</button>
    </div>
  </div>
</div>
