
<div class="div1">
<div class="servicios-container">
  <h2>Nuestros servicios</h2>

  <div class="servicio">
    <h3>🔹 Asistencia Técnica para Propietarios de tecnología ARAG</h3>
    <ul>
      <li>✅ Diagnóstico rápido y preciso de fallas en computadoras de pulverización, mapeo y siembra.</li>
      <li>✅ Soporte directo con un especialista vía WhatsApp.</li>
      <li>✅ Solución eficiente para reducir el tiempo de inactividad.</li>
    </ul>
    <p>Solicite su consulta y reciba atención personalizada.</p>
    <button class="btn" (click)="navigateTo('asesoria')">Empezar Ahora ➤</button>
  </div>

  <div class="servicio">
    <h3>🔹 Recursos Exclusivos para Técnicos</h3>
    <ul>
      <li>✅ Acceso a tutoriales, documentación, planos y softwares.</li>
      <li>✅ Capacitación continua para mejorar su desempeño.</li>
      <li>✅ Suscripción mensual con consulta técnica y tarifa preferencial.</li>
    </ul>
    <p>Mantente al día con nuevas tecnologías y metodologías en maquinaria agrícola.</p>
    <button class="btn" (click)="navigateTo('suscripcionesTecnicas')">Suscribirme</button>
  </div>

   <div class="servicio">
    <h3>🔹 Por que elegir agrofono?</h3>
    <ul>
      <li>✅ Acceso a tutoriales, documentación, planos y softwares.</li>
      <li>✅ Capacitación continua para mejorar su desempeño.</li>
      <li>✅ Suscripción mensual con consulta técnica y tarifa preferencial.</li>
    </ul>
    <p>Mantente al día con nuevas tecnologías y metodologías en maquinaria agrícola.</p>
    <button  (click)="shareFurnitureLink()" class="btn">Consultar por Whatsapp</button>
  </div>
</div>
</div>
